* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 776px) {

  .d-flex {
    flex-direction: column;
    text-align: center;
  }
}

.search {
  margin: auto;
  margin-top: 5%;
}

.center {
  text-align: center;
}

input {
  margin: 2%;
  border-radius: 7%;
  width: 25%;
  padding: 1%;

}

@media(max-width:760px){
    .center input{
      width: 47%;
     }
}